.titleStyle{
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 16px;
    font-family: 'Segoe UI WestEuropean', 'Segoe UI Light', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #000000;
    cursor: default;
}

.inputDivStyle{
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 16px;
}

.statusDivStyle{
    margin-top: 10px;
    margin-left: 8px;
}

.statusSpanStyle{
    margin-left: 8px;
}

.statusSpanStyle.success{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #107C10;
}

.statusSpanStyle.failed{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #A80000 ;
}

.statusImageStyle{
    top: 4px;
    position: relative;
}

.buttonDivStyle{
    margin-top: 24px;
    margin-right: 16px;
    margin-left: 83px;
    display: inline-block;
}

.descriptionStyle{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #000000 ;
    margin-top: 8px;
}

.labelStyle{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #333333;
    margin-bottom: 8px;
}

.ms-Button.distributeButton{
    border: 1px solid #D5A8D2;
    background-color: #F7EDF7;
    font-size: 12px;
}

.ms-Button.distributeButton:disabled,
.ms-Button.distributeButton.is-disabled {
  opacity: 0.5;
}

.ms-Button.distributeButton:hover{
    background-color: #F0DAEF
}

.ms-Button.cancelButton{
    border: 1px solid #ABABAB;
    background-color: #FFFFFF;
}

.ms-Button.cancelButton:hover{
    border: 1px solid #D5A8D2;
    background-color: #F0DAEF;
}