.pageContent{
    overflow-x: hidden;
    margin-top: 20px;
    margin-right: 16px;
}

ul
{   
    margin-top: 12px;
    margin-bottom: 24px;
    list-style-type: none;
    padding-left: 0px;
}

ul li{
    height: 36px;
    padding-left: 8px;
    cursor: pointer;
}

ul li.selected{
    background: #E1BEDF;
}


.buttonStyle {
  margin-left: 16px;
}

.title{
  margin-bottom: 12px;
  cursor: default;
  margin-left:16px;
}

.sectionImageStyle{
    margin-right: 8px;
    position: relative;
    top: 8px;
}


.statusDivStyle{
    margin-top: 12px;
    margin-left: 16px; 
}

.statusSpanStyle{
    margin-left: 4px;
}

.statusSpanStyle.success{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #107C10;
}

.statusSpanStyle.failed{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #A80000 ;
}


.sectionSpanStyle{
    position: relative;
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #333333;
}

.statusImageStyle{
    top: 4px;
    position: relative;
}

.sectionChoiceStyle{
    margin-left: 8px;
}

.pageTitle1Style{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI Light', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    color: #000000;
}

.pageTitle2Style{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #333333;
}
