ul
{
    list-style-type: none;
    margin-left: -10px;
}

.pageContent{
  margin-left: 8px;
}


.title{
 margin-top: 10px;
 cursor: default;
}

.sectionListStyle{
  margin: 0px;
  padding: 0px;
}

.sortOptionDropdown{
  float: right;
}

.selectedStudent{
    background: #E1BEDF;
}

.studentStyle {
  font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  height: 44px;
  cursor: pointer;
}

.studentStyle:hover{
   background: #E1BEDF;
}

.backImageStyle{
  cursor: pointer;
  zoom: 70%;
  position: relative;
}

.sortOptionsTitle{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 0;
    cursor: default;
}

.sortOptionsIcon{
    color: #0072C6;
    font-size: 10px;
    position: relative;
    top: 2px;
    margin-left:5px;
}

.sortText{
  width:120px;
}

.pageTitle1Style{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI Light', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    color: #000000;
}

.pageTitle2Style{
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #333333;
}

.dropdownStyle{
  margin-top:24px;
}


.studentListStyle{
  margin-top:24px;
}